<div class="uk-section uk-section-secondary uk-light">
        <h1 class="text-center uk-heading-hero">Goals<img id="logo" src="stratatree-logo.png"></h1>
      </div>
      
      <!-- NAV -->
      <a href="#offcanvas-slide" class="uk-button uk-button-primary" uk-toggle><span class="fa fa-bars"></span> Menu</a>

<div id="offcanvas-slide" uk-offcanvas>
    <div class="uk-offcanvas-bar">

        <ul class="uk-nav uk-nav-default">
            <li><a href="/user/{{goal.uid}}/accounts">Accounts</a></li>
<!-- begin modal -->
            <button class="uk-button uk-button-default uk-margin-small-right goal-create" type="button" uk-toggle="target: #modal-example"><span class="fa fa-plus"></span> Goal</button>

<!-- This is the modal -->
<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <!-- <h2 class="uk-modal-title">Account</h2> -->
        <p class="uk-text-muted">Create a new goal, owner & source here.</p>
        <p><textarea class="uk-textarea goal-input" id="inputGoal" placeholder="Enter Goal Here"></textarea></p>
        <p><textarea class="uk-textarea goal-owner-input" id="inputOwner" placeholder="Enter Owner Here"></textarea></p>
        <p><textarea class="uk-textarea goal-source-input" id="inputSource" placeholder="Enter Source Here"></textarea></p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-danger uk-modal-close" type="button"><span class="fa fa-times"></span></button>
            <button class="uk-button uk-button-primary goal-add" id="goalAdd" type="button"><span class="fa fa-check"></span></button>
        </p>
    </div>
</div>
<!-- end modal -->
        </ul>

    </div>
</div>
<!-- end nav -->
      <div class="uk-container">
      <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match uk-grid">
          {{!-- CARD --}}
          {{#each goal}}
      <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-height-1-6@m uk-card-hover">
            <a href="/goals/{{this.id}}/strategies"><h3 class="uk-card-title text-center">{{this.goal}}</h3></a>
            <h3 class="uk-card-title text-center">Owner - {{this.owner}}</h3>
            <h3 class="uk-card-title text-center">Source - {{this.source}}</h3>
            <button class="uk-button uk-button-primary uk-button-small goal-edit" data-id={{this.id}}>Edit</button>
            <button class="uk-button uk-button-danger uk-button-small goal-delete" data-id={{this.id}}>Delete</button>
      </div>
      {{/each}}
      {{!-- CARD END --}}
      </div>